In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Ignore all warnings
import warnings
warnings.filterwarnings('ignore')

Setting up Pandas display properties so that required data can be seen easily while data analysis.

In [10]:
pd.set_option("display.min_rows",500) 
pd.set_option("display.max_columns",500) 
pd.set_option("display.max_rows",500)

Reading Loan data from the csv file which is provided for the analysis.

In [17]:
df = pd.read_csv('loan.csv')

Looking at first 5 rows from dataframe

In [18]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

Listing down all the metadata of the Data frame.

In [19]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Dtype
---   ------                          -----
 0    id                              int64
 1    member_id                       int64
 2    loan_amnt                       int64
 3    funded_amnt                     int64
 4    funded_amnt_inv                 float64
 5    term                            object
 6    int_rate                        object
 7    installment                     float64
 8    grade                           object
 9    sub_grade                       object
 10   emp_title                       object
 11   emp_length                      object
 12   home_ownership                  object
 13   annual_inc                      float64
 14   verification_status             object
 15   issue_d                         object
 16   loan_status                     object
 17   pymnt_plan                      object
 18   url                             object
 19   desc                            object
 20   purpose                         object
 21   title                           object
 22   zip_code                        object
 23   addr_state                      object
 24   dti                             float64
 25   delinq_2yrs                     int64
 26   earliest_cr_line                object
 27   inq_last_6mths                  int64
 28   mths_since_last_delinq          float64
 29   mths_since_last_record          float64
 30   open_acc                        int64
 31   pub_rec                         int64
 32   revol_bal                       int64
 33   revol_util                      object
 34   total_acc                       int64
 35   initial_list_status             object
 36   out_prncp                       float64
 37   out_prncp_inv                   float64
 38   total_pymnt                     float64
 39   total_pymnt_inv                 float64
 40   total_rec_prncp                 float64
 41   total_rec_int                   float64
 42   total_rec_late_fee              float64
 43   recoveries                      float64
 44   collection_recovery_fee         float64
 45   last_pymnt_d                    object
 46   last_pymnt_amnt                 float64
 47   next_pymnt_d                    object
 48   last_credit_pull_d              object
 49   collections_12_mths_ex_med      float64
 50   mths_since_last_major_derog     float64
 51   policy_code                     int64
 52   application_type                object
 53   annual_inc_joint                float64
 54   dti_joint                       float64
 55   verification_status_joint       float64
 56   acc_now_delinq                  int64
 57   tot_coll_amt                    float64
 58   tot_cur_bal                     float64
 59   open_acc_6m                     float64
 60   open_il_6m                      float64
 61   open_il_12m                     float64
 62   open_il_24m                     float64
 63   mths_since_rcnt_il              float64
 64   total_bal_il                    float64
 65   il_util                         float64
 66   open_rv_12m                     float64
 67   open_rv_24m                     float64
 68   max_bal_bc                      float64
 69   all_util                        float64
 70   total_rev_hi_lim                float64
 71   inq_fi                          float64
 72   total_cu_tl                     float64
 73   inq_last_12m                    float64
 74   acc_open_past_24mths            float64
 75   avg_cur_bal                     float64
 76   bc_open_to_buy                  float64
 77   bc_util                         float64
 78   chargeoff_within_12_mths        float64
 79   delinq_amnt                     int64
 80   mo_sin_old_il_acct              float64
 81   mo_sin_old_rev_tl_op            float64
 82   mo_sin_rcnt_rev_tl_op           float64
 83   mo_sin_rcnt_tl                  float64
 84   mort_acc                        float64
 85   mths_since_recent_bc            float64
 86   mths_since_recent_bc_dlq        float64
 87   mths_since_recent_inq           float64
 88   mths_since_recent_revol_delinq  float64
 89   num_accts_ever_120_pd           float64
 90   num_actv_bc_tl                  float64
 91   num_actv_rev_tl                 float64
 92   num_bc_sats                     float64
 93   num_bc_tl                       float64
 94   num_il_tl                       float64
 95   num_op_rev_tl                   float64
 96   num_rev_accts                   float64
 97   num_rev_tl_bal_gt_0             float64
 98   num_sats                        float64
 99   num_tl_120dpd_2m                float64
 100  num_tl_30dpd                    float64
 101  num_tl_90g_dpd_24m              float64
 102  num_tl_op_past_12m              float64
 103  pct_tl_nvr_dlq                  float64
 104  percent_bc_gt_75                float64
 105  pub_rec_bankruptcies            float64
 106  tax_liens                       float64
 107  tot_hi_cred_lim                 float64
 108  total_bal_ex_mort               float64
 109  total_bc_limit                  float64
 110  total_il_high_credit_limit      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

Describe dataset with prilim analysis using describe() method

In [13]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,14035.000000,2786.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39661.0,0.0,39717.0,0.0,0.0,0.0,39717.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39661.0,39717.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,35.900962,69.698134,9.294408,0.055065,13382.528086,22.088828,51.227887,50.989768,12153.596544,11567.149118,9793.348813,2263.663172,1.363015,95.221624,12.406112,2678.826162,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,22.020060,43.822529,4.400282,0.237200,15885.016641,11.401709,375.172839,373.824457,9042.040766,8942.672613,7065.522127,2608.111964,7.289979,688.744771,148.671593,4447.136012,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,18.000000,22.000000,6.000000,0.000000,3703.000000,13.000000,0.000000,0.000000,5576.930000,5112.310000,4600.000000,662.180000,0.000000,0.000000,0.000000,218.680000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,34.000000,90.000000,9.000000,0.000000,8850.000000,20.000000,0.000000,0.000000,9899.640319,9287.150000,8000.000000,1348.910000,0.000000,0.000000,0.000000,546.140000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,52.000000,104.000000,12.000000,0.000000,17058.000000,29.000000,0.000000,0.000000,16534.433040,15798.810000,13653.260000,2833.400000,0.000000,0.000000,0.000000,3293.160000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,120.000000,129.000000,44.000000,4.000000,149588.000000,90.000000,6311.470000,6307.370000,58563.679930,58563.680000,35000.020000,23563.680000,180.200000,29623.350000,7002.190000,36115.200000,0.0,NaN,1.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

Listing down missing data column wise

In [20]:
df.isnull().sum()

id                                    0
member_id                             0
loan_amnt                             0
funded_amnt                           0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
emp_title                          2459
emp_length                         1075
home_ownership                        0
annual_inc                            0
verification_status                   0
issue_d                               0
loan_status                           0
pymnt_plan                            0
url                                   0
desc                              12942
purpose                               0
title                                11
zip_code                              0
addr_state                            0
dti                                   0
delinq_2yrs                           0
earliest_cr_line                      0
inq_last_6mths                        0
mths_since_last_delinq            25682
mths_since_last_record            36931
open_acc                              0
pub_rec                               0
revol_bal                             0
revol_util                           50
total_acc                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
total_pymnt                           0
total_pymnt_inv                       0
total_rec_prncp                       0
total_rec_int                         0
total_rec_late_fee                    0
recoveries                            0
collection_recovery_fee               0
last_pymnt_d                         71
last_pymnt_amnt                       0
next_pymnt_d                      38577
last_credit_pull_d                    2
collections_12_mths_ex_med           56
mths_since_last_major_derog       39717
policy_code                           0
application_type                      0
annual_inc_joint                  39717
dti_joint                         39717
verification_status_joint         39717
acc_now_delinq                        0
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
delinq_amnt                           0
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

Listing down columns which is missing data percentage wise in descending order.

In [21]:
missing_value = np.round(df.isnull().sum() * 100/ len(df))
missing_value
missing_value.sort_values(ascending=False)

verification_status_joint         100.0
annual_inc_joint                  100.0
mo_sin_old_rev_tl_op              100.0
mo_sin_old_il_acct                100.0
bc_util                           100.0
bc_open_to_buy                    100.0
avg_cur_bal                       100.0
acc_open_past_24mths              100.0
inq_last_12m                      100.0
total_cu_tl                       100.0
inq_fi                            100.0
total_rev_hi_lim                  100.0
all_util                          100.0
max_bal_bc                        100.0
open_rv_24m                       100.0
open_rv_12m                       100.0
il_util                           100.0
total_bal_il                      100.0
mths_since_rcnt_il                100.0
open_il_24m                       100.0
open_il_12m                       100.0
open_il_6m                        100.0
open_acc_6m                       100.0
tot_cur_bal                       100.0
tot_coll_amt                      100.0
mo_sin_rcnt_rev_tl_op             100.0
mo_sin_rcnt_tl                    100.0
mort_acc                          100.0
num_rev_tl_bal_gt_0               100.0
total_bc_limit                    100.0
total_bal_ex_mort                 100.0
tot_hi_cred_lim                   100.0
percent_bc_gt_75                  100.0
pct_tl_nvr_dlq                    100.0
num_tl_op_past_12m                100.0
num_tl_90g_dpd_24m                100.0
num_tl_30dpd                      100.0
num_tl_120dpd_2m                  100.0
num_sats                          100.0
num_rev_accts                     100.0
mths_since_recent_bc              100.0
num_op_rev_tl                     100.0
num_il_tl                         100.0
num_bc_tl                         100.0
num_bc_sats                       100.0
num_actv_rev_tl                   100.0
num_actv_bc_tl                    100.0
num_accts_ever_120_pd             100.0
mths_since_recent_revol_delinq    100.0
mths_since_recent_inq             100.0
mths_since_recent_bc_dlq          100.0
dti_joint                         100.0
total_il_high_credit_limit        100.0
mths_since_last_major_derog       100.0
next_pymnt_d                       97.0
mths_since_last_record             93.0
mths_since_last_delinq             65.0
desc                               33.0
emp_title                           6.0
emp_length                          3.0
pub_rec_bankruptcies                2.0
verification_status                 0.0
title                               0.0
purpose                             0.0
zip_code                            0.0
url                                 0.0
pymnt_plan                          0.0
addr_state                          0.0
loan_status                         0.0
issue_d                             0.0
application_type                    0.0
annual_inc                          0.0
home_ownership                      0.0
delinq_2yrs                         0.0
sub_grade                           0.0
grade                               0.0
installment                         0.0
int_rate                            0.0
term                                0.0
tax_liens                           0.0
funded_amnt_inv                     0.0
funded_amnt                         0.0
loan_amnt                           0.0
dti                                 0.0
inq_last_6mths                      0.0
earliest_cr_line                    0.0
policy_code                         0.0
member_id                           0.0
acc_now_delinq                      0.0
collections_12_mths_ex_med          0.0
last_credit_pull_d                  0.0
last_pymnt_amnt                     0.0
last_pymnt_d                        0.0
collection_recovery_fee             0.0
recoveries                          0.0
total_rec_late_fee                  0.0
total_rec_int                       0.0
total_rec_prncp                     0.0
total_pymnt_inv                     0.0
total_pymnt                         0.0
out_prncp_inv                       0.0
out_prncp                           0.0
initial_list_status                 0.0
total_acc                           0.0
revol_util                          0.0
revol_bal                           0.0
pub_rec                             0.0
open_acc                            0.0
chargeoff_within_12_mths            0.0
delinq_amnt                         0.0
id                                  0.0
dtype: float64

Filtering out set of columns which is missing data more than 30% data.

In [23]:
empty_col = df.isnull().sum()
empty_col = empty_col[empty_col > (0.3 *len(empty_col))]
len(empty_col)

66

Listing down column which misses more than 30% data

In [24]:
empty_col = list(empty_col[empty_col.values > 0.3].index)
empty_col

['emp_title',
 'emp_length',
 'desc',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'revol_util',
 'last_pymnt_d',
 'next_pymnt_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_il_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

Dropping the columns which misses more than 30% of data.

In [25]:
df.drop(empty_col, axis=1, inplace=True)

Validating data frame after cleaning few columns

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  object
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  home_ownership           39717 non-null  object
 11  annual_inc               39717 non-null  float64
 12  verification_status      39717 non-null  object
 13  issue_d                  39717 non-null  object
 14  loan_status              39717 non-null  object
 15  pymnt_plan               39717 non-null  object
 16  url                      39717 non-null  object
 17  purpose                  39717 non-null  object
 18  title                    39706 non-null  object
 19  zip_code                 39717 non-null  object
 20  addr_state               39717 non-null  object
 21  dti                      39717 non-null  float64
 22  delinq_2yrs              39717 non-null  int64
 23  earliest_cr_line         39717 non-null  object
 24  inq_last_6mths           39717 non-null  int64
 25  open_acc                 39717 non-null  int64
 26  pub_rec                  39717 non-null  int64
 27  revol_bal                39717 non-null  int64
 28  total_acc                39717 non-null  int64
 29  initial_list_status      39717 non-null  object
 30  out_prncp                39717 non-null  float64
 31  out_prncp_inv            39717 non-null  float64
 32  total_pymnt              39717 non-null  float64
 33  total_pymnt_inv          39717 non-null  float64
 34  total_rec_prncp          39717 non-null  float64
 35  total_rec_int            39717 non-null  float64
 36  total_rec_late_fee       39717 non-null  float64
 37  recoveries               39717 non-null  float64
 38  collection_recovery_fee  39717 non-null  float64
 39  last_pymnt_amnt          39717 non-null  float64
 40  last_credit_pull_d       39715 non-null  object
 41  policy_code              39717 non-null  int64
 42  application_type         39717 non-null  object
 43  acc_now_delinq           39717 non-null  int64
 44  delinq_amnt              39717 non-null  int64
dtypes: float64(14), int64(13), object(18)
memory usage: 13.6+ MB

### Univariate Analysis

In [27]:
df['term'].value_counts()

term
36 months    29096
60 months    10621
Name: count, dtype: int64

In [29]:
df['term'] = df['term'].map(lambda x : x.replace('months', ''))

In [30]:
df['term'] = df['term'].astype(int)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  int64
 6   int_rate                 39717 non-null  object
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  home_ownership           39717 non-null  object
 11  annual_inc               39717 non-null  float64
 12  verification_status      39717 non-null  object
 13  issue_d                  39717 non-null  object
 14  loan_status              39717 non-null  object
 15  pymnt_plan               39717 non-null  object
 16  url                      39717 non-null  object
 17  purpose                  39717 non-null  object
 18  title                    39706 non-null  object
 19  zip_code                 39717 non-null  object
 20  addr_state               39717 non-null  object
 21  dti                      39717 non-null  float64
 22  delinq_2yrs              39717 non-null  int64
 23  earliest_cr_line         39717 non-null  object
 24  inq_last_6mths           39717 non-null  int64
 25  open_acc                 39717 non-null  int64
 26  pub_rec                  39717 non-null  int64
 27  revol_bal                39717 non-null  int64
 28  total_acc                39717 non-null  int64
 29  initial_list_status      39717 non-null  object
 30  out_prncp                39717 non-null  float64
 31  out_prncp_inv            39717 non-null  float64
 32  total_pymnt              39717 non-null  float64
 33  total_pymnt_inv          39717 non-null  float64
 34  total_rec_prncp          39717 non-null  float64
 35  total_rec_int            39717 non-null  float64
 36  total_rec_late_fee       39717 non-null  float64
 37  recoveries               39717 non-null  float64
 38  collection_recovery_fee  39717 non-null  float64
 39  last_pymnt_amnt          39717 non-null  float64
 40  last_credit_pull_d       39715 non-null  object
 41  policy_code              39717 non-null  int64
 42  application_type         39717 non-null  object
 43  acc_now_delinq           39717 non-null  int64
 44  delinq_amnt              39717 non-null  int64
dtypes: float64(14), int64(14), object(17)
memory usage: 13.6+ MB

In [32]:
df['int_rate'].value_counts()

int_rate
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
7.49%     656
11.71%    607
9.99%     603
7.90%     582
5.42%     573
11.99%    532
12.69%    491
10.37%    468
6.03%     447
12.99%    446
8.49%     445
12.42%    442
10.65%    435
5.79%     410
8.90%     402
7.29%     397
6.62%     396
11.86%    391
14.27%    390
10.59%    380
9.63%     378
9.91%     377
5.99%     347
7.14%     341
6.99%     336
11.11%    331
12.53%    327
16.77%    327
10.74%    312
6.54%     305
6.91%     303
8.94%     294
7.66%     292
13.61%    291
15.99%    286
13.98%    284
13.23%    263
11.12%    259
13.99%    257
6.17%     252
10.00%    251
12.68%    251
10.75%    250
10.36%    250
11.36%    247
16.49%    241
11.83%    233
18.25%    230
10.62%    228
14.65%    222
13.06%    220
10.38%    219
10.25%    218
15.23%    215
14.96%    214
16.89%    209
15.65%    208
11.14%    206
6.92%     204
12.18%    203
17.27%    203
15.27%    200
15.95%    199
16.32%    198
14.79%    192
8.00%     191
17.49%    190
12.73%    187
15.21%    187
9.62%     186
15.58%    185
9.32%     184
17.58%    183
11.48%    183
15.96%    183
9.88%     181
8.59%     181
12.61%    181
13.11%    177
12.87%    176
14.91%    172
15.62%    171
12.21%    169
6.76%     168
16.45%    162
8.88%     160
11.89%    154
18.39%    154
7.74%     153
13.48%    152
16.02%    149
17.99%    148
15.28%    147
13.43%    145
18.64%    142
16.29%    142
13.22%    142
16.40%    140
9.25%     139
13.57%    135
12.23%    134
12.84%    133
16.82%    132
13.16%    131
13.80%    131
13.85%    130
13.35%    127
14.26%    125
19.03%    124
13.47%    124
14.17%    122
13.92%    121
14.84%    120
14.35%    120
19.29%    119
14.22%    118
19.42%    116
13.72%    116
12.98%    116
14.59%    113
14.72%    112
13.79%    111
17.19%    110
14.46%    107
17.14%    107
17.56%    106
18.79%    106
19.69%    105
15.33%    102
11.58%     99
16.00%     95
14.61%     92
11.26%     91
15.31%     91
14.11%     91
19.91%     90
20.30%     89
7.68%      89
14.83%     89
14.42%     84
15.70%     80
17.93%     79
15.57%     79
10.95%     78
20.25%     77
14.54%     75
7.40%      72
20.89%     72
14.09%     68
15.20%     67
17.88%     66
9.76%      65
14.74%     65
17.51%     65
15.05%     59
6.39%      58
18.30%     58
16.07%     57
20.62%     57
20.99%     52
11.03%     50
16.69%     50
10.39%     49
18.62%     49
10.08%     48
21.36%     45
8.32%      44
16.35%     44
15.37%     43
10.71%     43
21.28%     43
18.67%     42
21.67%     42
11.34%     41
8.63%      38
11.66%     38
15.68%     38
22.06%     37
9.45%      37
11.97%     37
12.29%     36
17.06%     34
16.70%     34
19.04%     32
19.36%     31
17.43%     31
21.74%     31
7.37%      31
22.11%     31
18.99%     30
19.74%     30
10.83%     30
13.24%     29
17.04%     26
11.78%     26
12.92%     26
7.43%      26
18.17%     26
22.35%     25
19.41%     25
11.46%     25
20.11%     25
7.75%      23
7.05%      23
8.07%      23
10.51%     22
20.48%     22
10.28%     21
9.38%      21
22.74%     20
12.41%     20
18.54%     20
17.80%     19
9.96%      19
12.09%     18
8.38%      18
6.00%      18
10.20%     18
17.74%     18
11.28%     18
9.64%      18
13.55%     18
13.04%     17
13.67%     17
10.91%     17
12.72%     16
16.95%     16
10.78%     16
22.48%     16
11.22%     15
20.85%     15
9.07%      15
17.39%     15
7.91%      14
10.96%     14
9.33%      14
13.87%     14
21.27%     13
12.22%     13
20.03%     13
18.43%     13
16.63%     13
19.79%     12
20.16%     12
20.53%     12
9.01%      12
11.54%     12
8.70%      12
17.26%     11
20.90%     11
19.13%     11
9.20%      11
11.91%     11
23.91%     11
10.14%     10
12.17%     10
20.77%     10
12.49%      9
10.33%      9
23.13%      9
23.52%      9
19.66%      9
23.22%      9
11.72%      9
11.59%      9
18.07%      9
14.18%      9
9.51%       9
18.09%      9
13.30%      8
18.91%      8
9.83%       8
22.85%      8
9.70%       8
21.59%      8
12.36%      8
13.36%      8
11.63%      8
14.50%      8
12.86%      8
12.80%      8
11.41%      7
7.12%       7
21.22%      7
10.01%      7
14.93%      7
7.42%       7
14.82%      7
16.11%      7
19.47%      7
9.67%       7
12.04%      7
10.46%      7
13.17%      6
12.67%      5
11.09%      5
14.38%      5
16.59%      5
12.54%      5
12.12%      5
14.30%      5
19.82%      5
18.21%      5
13.75%      5
15.13%      4
19.39%      4
23.59%      4
18.78%      4
21.21%      4
15.25%      4
15.88%      4
21.14%      4
18.53%      4
18.49%      3
13.12%      3
13.93%      3
14.12%      3
12.62%      3
21.64%      3
20.86%      3
19.16%      3
18.84%      3
20.17%      3
13.62%      3
20.40%      3
15.76%      3
16.08%      3
20.69%      3
15.45%      3
24.11%      3
14.75%      3
14.70%      2
14.25%      2
14.88%      2
15.83%      2
14.07%      2
15.01%      2
17.15%      2
21.82%      2
17.03%      2
10.64%      2
17.90%      2
15.07%      2
16.33%      2
13.84%      2
20.20%      2
15.38%      2
14.62%      2
22.94%      2
22.64%      1
24.59%      1
24.40%      1
21.48%      1
14.67%      1
17.54%      1
16.71%      1
20.52%      1
17.46%      1
17.34%      1
16.20%      1
18.72%      1
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: count, dtype: int64

In [33]:
df['int_rate'] = df['int_rate'].apply(lambda x : x.replace('%', ''))

In [34]:
df['int_rate'] = df['int_rate'].astype(float)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       39717 non-null  int64
 1   member_id                39717 non-null  int64
 2   loan_amnt                39717 non-null  int64
 3   funded_amnt              39717 non-null  int64
 4   funded_amnt_inv          39717 non-null  float64
 5   term                     39717 non-null  int64
 6   int_rate                 39717 non-null  float64
 7   installment              39717 non-null  float64
 8   grade                    39717 non-null  object
 9   sub_grade                39717 non-null  object
 10  home_ownership           39717 non-null  object
 11  annual_inc               39717 non-null  float64
 12  verification_status      39717 non-null  object
 13  issue_d                  39717 non-null  object
 14  loan_status              39717 non-null  object
 15  pymnt_plan               39717 non-null  object
 16  url                      39717 non-null  object
 17  purpose                  39717 non-null  object
 18  title                    39706 non-null  object
 19  zip_code                 39717 non-null  object
 20  addr_state               39717 non-null  object
 21  dti                      39717 non-null  float64
 22  delinq_2yrs              39717 non-null  int64
 23  earliest_cr_line         39717 non-null  object
 24  inq_last_6mths           39717 non-null  int64
 25  open_acc                 39717 non-null  int64
 26  pub_rec                  39717 non-null  int64
 27  revol_bal                39717 non-null  int64
 28  total_acc                39717 non-null  int64
 29  initial_list_status      39717 non-null  object
 30  out_prncp                39717 non-null  float64
 31  out_prncp_inv            39717 non-null  float64
 32  total_pymnt              39717 non-null  float64
 33  total_pymnt_inv          39717 non-null  float64
 34  total_rec_prncp          39717 non-null  float64
 35  total_rec_int            39717 non-null  float64
 36  total_rec_late_fee       39717 non-null  float64
 37  recoveries               39717 non-null  float64
 38  collection_recovery_fee  39717 non-null  float64
 39  last_pymnt_amnt          39717 non-null  float64
 40  last_credit_pull_d       39715 non-null  object
 41  policy_code              39717 non-null  int64
 42  application_type         39717 non-null  object
 43  acc_now_delinq           39717 non-null  int64
 44  delinq_amnt              39717 non-null  int64
dtypes: float64(15), int64(14), object(16)
memory usage: 13.6+ MB